<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Admin Panel - Kcischan</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <style>
    #username {
      position: absolute;
      top: 2rem;
      right: 3rem;
    }
  </style>
</head>

<body>
  <main class="box">
    <h1>Admin Panel</h1>

    <div id="username">
      <span th:text="${username}"></span>
      <a href="/api/admin/logout">
        Logout
      </a>
    </div>

    <form id="delete-form" action="/api/admin/delete" method="POST" enctype="multipart/form-data" class="spacey-1">
      <p class="bold">Delete Post (Will still be stored in database)
      </p>
      <input type="text" name="post" placeholder="Post ID" required>
      <button type="submit">Delete</button>
      <div id="delete-status" class="status-label hidden"></div>
    </form>

    <form id="recover-form" action="/api/admin/recover" method="POST" enctype="multipart/form-data" class="spacey-1">
      <p class="bold">Recover Deleted Post</p>
      <input type="text" name="post" placeholder="Post ID" required>
      <button type="submit">Recover</button>
      <div id="recover-status" class="status-label hidden"></div>
    </form>

    <form id="edit-blog-form" action="/api/admin/edit_blog" method="POST" enctype="multipart/form-data"
      class="spacey-1">
      <p class="bold">Edit About Page (Markdown supported)</p>
      <p>
        IDs:
        <br />
        /about: 1
        <br />
        /about/help: 2
        <br />
        /about/rules: 3
      </p>
      <input type="text" name="blog" placeholder="ID" required>
      <textarea name="content" rows="6" placeholder="New content..." required></textarea>
      <button type="submit">Save Changes</button>
      <div id="edit-blog-status" class="status-label hidden"></div>
    </form>

    <form id="board-form" action="/api/admin/change_board_info" method="POST" class="spacey-1">
      <p class="bold">Edit Boards Info</p>
      <p>
        Leave blank for field you would not want to change
        <br />
        Beware that you won't want to normally change a name or description of a board. Use with caution
      </p>
      <input type="text" name="boardId" placeholder="Board Id" required />
      <input type="text" name="name" placeholder="New Name" />
      <input type="text" name="description" placeholder="New Description" />
      <input type="text" name="pinnedPostId" placeholder="New Pinned Post Id" />
      <button type="submit">Save Changes</button>
      <button type="button" id="btn-unset-pinned-post">Unset Pinned Post</button>
      <div id="board-status" class="status-label hidden"></div>
    </form>

    <form id="password-form" action="/api/admin/change_password" method="POST" class="spacey-1">
      <p class="bold">Change Password</p>
      <input type="password" name="oldPassword" placeholder="Old Password" />
      <input type="password" name="newPassword" id="password" placeholder="New Password" required />
      <input type="password" id="password-repeat" placeholder="Repeat Password" required />
      <button type="submit">Change Password</button>
      <div id="password-status" class="status-label hidden"></div>
    </form>

    <a href="/">Go to homepage (session will be saved and can be used to send admin posts)</a>
  </main>

  <script>
    document.getElementById("delete-form").addEventListener("submit", async function (e) {
      e.preventDefault();
      await postApi('/api/admin/delete', new FormData(e.target), document.getElementById('delete-status'), "Post deleted successfully!");
    });

    document.getElementById("recover-form").addEventListener("submit", async function (e) {
      e.preventDefault();
      await postApi('/api/admin/recover', new FormData(e.target), document.getElementById('recover-status'), "Post recovered successfully!");
    });

    document.getElementById("edit-blog-form").addEventListener("submit", async function (e) {
      e.preventDefault();
      await postApi('/api/admin/edit_blog', new FormData(e.target), document.getElementById('edit-blog-status'), "Blog updated successfully!");
    });

    document.getElementById('password-form').addEventListener('submit', async function (e) {
      e.preventDefault();
      const status = document.getElementById('password-status');
      if (document.getElementById('password').value !== document.getElementById('password-repeat').value) {
        appendStatusText(status, false, "Passwords do not match!");
        return;
      }
      await postApi('/api/admin/change_password', new FormData(e.target), status, "Password changed successfully!");
    });

    document.getElementById('board-form').addEventListener('submit', async function (e) {
      e.preventDefault();
      await postApi('/api/admin/change_board_info', new FormData(e.target), document.getElementById('board-status'), "Board updated successfully!");
    });

    document.getElementById('btn-unset-pinned-post').addEventListener('click', async function () {
      const boardId = document.querySelector('input[name="boardId"]').value;
      const formData = new FormData();
      formData.append('boardId', boardId);
      await postApi('/api/admin/unset_pinned_post', formData, document.getElementById('board-status'), "Pinned post unset");
    });

    async function postApi(url, formData, status, successMessage) {
      const res = await fetch(url, {
        method: 'POST',
        body: formData,
      });
      const json = await res.json();
      if (res.ok) {
        appendStatusText(status, true, successMessage);
      } else {
        appendStatusText(status, false, json.message);
      }
    }

    function appendStatusText(statusSpan, success, message) {
      statusSpan.style.display = "block";
      if (success) {
        statusSpan.textContent = message;
        statusSpan.style.color = "green";
      } else {
        statusSpan.textContent = message;
        statusSpan.style.color = "red";
      }
    }
  </script>
</body>

</html>
