<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8" />
  <title>管理员登录 - Kcischan</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
  <script src="/assets/js/captcha.js"></script>
</head>

<body class="no-padding">
  <main class="content-center-screen-container">
    <div class="box spacey-2">
      <form class="flex-vertical gap-2" id="login">
        <h2>管理员登录 💼</h2>

        <input type="text" id="username" name="username" placeholder="用户名..." required />

        <input type="password" id="password" name="password" placeholder="密码..." />

        <div>
          <img src="/captcha.jpg" id="captcha" />
          <input class="full-width" type="text" name="captcha" id="captcha-input" placeholder="请输入验证码" />
        </div>

        <button type="submit">
          登录
        </button>

        <p class="text-center">
          <a href="/">不属于这里？点此返回主页</a>
        </p>
      </form>

      <p class="text-center hidden" id="login-status"></p>

    </div>
  </main>
  <script>
    document.getElementById('login').addEventListener('submit', async function (e) {
      e.preventDefault();

      const captcha = document.getElementById('captcha');

      const res = await fetch('/api/login/admin', {
        method: 'POST',
        body: new FormData(e.target),
      });

      const status = document.getElementById('login-status');
      const json = await res.json();
      if (res.ok) {
        status.style.display = 'block';
        status.textContent = '登录成功！';
        status.style.color = 'green';
        setTimeout(() => location.reload(), 500);
        form.reset();
      } else {
        status.style.display = 'block';
        status.textContent = json.message;
        status.style.color = 'red';
        captcha.src = '/captcha.jpg?rand' + Date.now();
      }
    });
  </script>
</body>

</html>
