<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="${title} + ' - Kcischan'"></title>
  <link rel="stylesheet" href="/assets/css/markdown.css" />
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="/assets/js/markdown.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
  <header>
    <a href="/">&larr; 返回主页</a>
    <h1 th:text="${title}"></h1>
  </header>

  <main class="content-middle-container">
    <p th:text="'最后更新：' + ${last_update}" class="color-accent"></p>
    <div th:utext="${content}" class="markdown-content box no-margin">
    </div>
  </main>
</body>

</html>
