<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title th:text="'Board ' + ${board.id} + ' - Kcischan'">Board</title>
  <script src="/assets/js/captcha.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <header>
    <a href="/">&larr; Back to Homepage</a>
    <h1 th:text="${board.id} + ': ' + ${board.name}">Board</h1>
    <p class="subtitle" th:text="${board.description}">Board description</p>
  </header>

  <main class="content-middle-container">
    <th:block th:insert="~{fragments/post :: postForm(${board.id}, null, ${isAdmin})}" />

    <div class="gap-2 flex-vertical">
      <h2 th:if="${#lists.isEmpty(threads)}">Nothing
        is here... yet</h2>

      <th:block th:if="${pinnedPost}" th:insert="~{fragments/post :: postCard(${pinnedPost}, true, false)}" />

      <th:block th:each="post : ${threads}">
        <th:block th:unless="${pinnedPost} and ${pinnedPost.id == post.id}"
          th:insert="~{fragments/post :: postCard(${post}, false, false)}" />
      </th:block>
    </div>
  </main>

  <script src="/assets/js/postForm.js"></script>
</body>

</html>
