<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8" />
  <title>发生错误 - Kcischan</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="no-padding">
  <main class="content-center-screen-container">
    <div class="box text-center spacey-2">
      <h1>Σ(°△° ꪱꪱꪱ)</h1>
      <h2 th:text="${error}"></h2>
      <p class="no-margin bold italic" th:text="${message}"></p>
      <p th:text="${timestamp}"></p>
      <div class="flex-vertical gap-2" style="align-items: center;">
        <button onclick="window.location.href='/'">
          返回主页 🏠
        </button>
        <button onclick="window.location.reload()">
          刷新页面 🔁
        </button>
      </div>
    </div>
  </main>
</body>

</html>
