<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>An error occurred - Kcischan</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="no-padding">
  <main class="content-center-screen-container">
    <div class="box text-center spacey-2">
      <h1>Oops!</h1>
      <h2 th:text="${error}">Unknown error</h2>
      <p class="no-margin bold italic" th:text="${message}">Something went wrong</p>
      <p th:text="${timestamp}">Timestamp</p>
      <div class="flex-vertical gap-2" style="align-items: center;">
        <button onclick="window.location.href='/'">
          Go Home 🏠
        </button>
        <button onclick="window.location.reload()">
          Refresh Page 🔁
        </button>
      </div>
    </div>

  </main>
</body>

</html>
