<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Kcischan Boards</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>


<body>
  <a class="hidden-link" href="admin/">Admin login</a>

  <header class=" bold">
    <h1>
      Welcome to Kcischan
    </h1>
    <p class="subtitle">
      Absolute anomonous 4chan-like channel.
      <br />
      Choose one of the following boards to get started, or read our <a href="/about">about page</a>
      first!
    </p>
  </header>

  <div class="index-container bold">
    <a th:each="board : ${boards}" th:href="@{'/board/' + ${board.id}}" class="no-underline card box">
      <p th:text="${board.name}">Board Name</p>
      <p th:text="${board.description}">Board description...</p>
    </a>
  </div>
</body>

</html>
