<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>Kcischan</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <a class="hidden-link" href="admin/">管理员登录</a>

  <header class="bold">
    <h1>
      欢迎来到 Kcischan
    </h1>
    <p class="subtitle">
      完全匿名的类 4chan 频道。
      <br />
      请选择以下其中一个版区开始使用，或者先阅读我们的 <a href="/about">关于页面</a>！
    </p>
  </header>

  <div class="index-container bold">
    <a th:each="board : ${boards}" th:href="@{'/board/' + ${board.id}}" class="no-underline card box">
      <p th:text="${board.name}"></p>
      <p th:text="${board.description}"></p>
    </a>
  </div>
</body>

</html>
