<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title th:text="${post.title} + ' - Kcischan'"></title>
  <script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/markdown.css" />
  <script src="/assets/js/markdown.js"></script>
  <script src="/assets/js/captcha.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
  <header>
    <a th:if="${post.parentId}" th:href="@{'/post/' + ${post.parentId}}">&larr; 返回上级</a>
    <a th:unless="${post.parentId}" th:href="@{'/board/' + ${post.board}}">&larr; 返回版区</a>
    <div class="box">
      <h1 th:text="${post.title}"></h1>
      <div class="subtitle">
        <th:block th:insert="~{fragments/post :: description(${post}, false, false)}" />
      </div>
    </div>
  </header>

  <main>
    <div class="box" th:insert="~{fragments/post :: content(${post})}"></div>

    <th:block th:insert="~{fragments/post :: postForm(${post.board}, ${post.id}, ${isAdmin})}" />

    <div>
      <h1>回复</h1>
      <h2 th:if="${#lists.isEmpty(replies)}">这里... 还什么都没有</h2>
    </div>

    <div class="gap-2 flex-vertical">
      <th:block th:each="reply : ${replies}">
        <th:block th:insert="~{fragments/post :: postCard(${reply}, false, true, false)}" />
      </th:block>
    </div>
  </main>

  <script src="/assets/js/postForm.js"></script>
</body>

</html>
